In [1]:
from sklearn.metrics.pairwise import cosine_similarity,cosine_distances

In [2]:
cosine_similarity([[3,1]],[[6,2]])

array([[1.]])

In [3]:
cosine_distances([[3,1]],[[6,2]])

array([[1.11022302e-16]])

In [4]:
cosine_similarity([[3,1]],[[3,2]])

array([[0.96476382]])

In [5]:
import pandas as pd

In [7]:
df=pd.DataFrame([
    {'Iphone':3,'Galaxy':1},
    {'Iphone':2,'Galaxy':0},
    {'Iphone':1,'Galaxy':3},
    {'Iphone':1,'Galaxy':2}
],
    index=["doc1","doc2","doc3","doc4"]
)
df

      Iphone  Galaxy
doc1       3       1
doc2       2       0
doc3       1       3
doc4       1       2

In [10]:
df.loc["doc1"]

Iphone    3
Galaxy    1
Name: doc1, dtype: int64

In [11]:
df.loc["doc1":"doc1"]

      Iphone  Galaxy
doc1       3       1

In [12]:
cosine_similarity(df.loc["doc1":"doc1"],df.loc["doc2":"doc2"])

array([[0.9486833]])

In [13]:
cosine_similarity(df.loc["doc1":"doc1"],df.loc["doc3":"doc3"])

array([[0.6]])

In [17]:
g=cosine_similarity(df.loc["doc3":"doc3"],df.loc["doc4":"doc4"])
g

array([[0.98994949]])

In [15]:
cosine_distances(df.loc["doc3":"doc3"],df.loc["doc4":"doc4"])

array([[0.01005051]])

In [18]:
1-g

array([[0.01005051]])